@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background: url('./assets/images/bg-stars.svg') no-repeat top center, url('./assets/images/pattern-hills.svg') no-repeat bottom center;
  background-size: 100% , 100% 30vh;
  background-color: hsl(235, 16%, 14%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


